<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>MOVIE2K</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>http://www\.movie4k\.to/genre-movies+</string>
				<string>http://www\.movie4k\.to/movies-genre+</string>
				<string>http://www\.movie4k\.to/genre-xxx+</string>
				<string>http://www\.movie4k\.to/xxx-genre-+</string>
				<string>http://www\.movie4k\.to/genre-tvshows+</string>
				<string>http://www\.movie4k\.to/tvshows-genre+</string>
				<string>http://www\.movie4k\.to/tvshows-season+</string>
				<string>http://www\.movie4k\.to/+</string>
				<string>http://91\.202\.63\.145/genre-movies+</string>
				<string>http://91\.202\.63\.145/movies-genre+</string>
				<string>http://91\.202\.63\.145/genre-xxx+</string>
				<string>http://91\.202\.63\.145/xxx-genre-+</string>
				<string>http://91\.202\.63\.145/genre-tvshows+</string>
				<string>http://91\.202\.63\.145/tvshows-genre+</string>
				<string>http://91\.202\.63\.145/tvshows-season+</string>
				<string>http://91\.202\.63\.145/+</string>
				<string>http://www\.movie2kproxy\.org/genre-movies+</string>
				<string>http://www\.movie2kproxy\.org/movies-genre+</string>
				<string>http://www\.movie2kproxy\.org/genre-xxx+</string>
				<string>http://www\.movie2kproxy\.org/xxx-genre-+</string>
				<string>http://www\.movie2kproxy\.org/genre-tvshows+</string>
				<string>http://www\.movie2kproxy\.org/tvshows-genre+</string>
				<string>http://www\.movie2kproxy\.org/tvshows-season+</string>
				<string>http://www\.movie2kproxy\.org/+</string>
				<string>http://www\.movie2kproxy\.com/genre-movies+</string>
				<string>http://www\.movie2kproxy\.com/movies-genre+</string>
				<string>http://www\.movie2kproxy\.com/genre-xxx+</string>
				<string>http://www\.movie2kproxy\.com/xxx-genre-+</string>
				<string>http://www\.movie2kproxy\.com/genre-tvshows+</string>
				<string>http://www\.movie2kproxy\.com/tvshows-genre+</string>
				<string>http://www\.movie2kproxy\.com/tvshows-season+</string>
				<string>http://www\.movie2kproxy\.com/+</string>
				<string>http://www\.movie2k\.tv/genre-movies+</string>
				<string>http://www\.movie2k\.tv/movies-genre+</string>
				<string>http://www\.movie2k\.tv/genre-xxx+</string>
				<string>http://www\.movie2k\.tv/xxx-genre-+</string>
				<string>http://www\.movie2k\.tv/genre-tvshows+</string>
				<string>http://www\.movie2k\.tv/tvshows-genre+</string>
				<string>http://www\.movie2k\.tv/tvshows-season+</string>
				<string>http://www\.movie2k\.tv/+</string>
				<string>http://91\.202\.63\.123/genre-movies+</string>
				<string>http://91\.202\.63\.123/movies-genre+</string>
				<string>http://91\.202\.63\.123/genre-xxx+</string>
				<string>http://91\.202\.63\.123/xxx-genre-+</string>
				<string>http://91\.202\.63\.123/genre-tvshows+</string>
				<string>http://91\.202\.63\.123/tvshows-genre+</string>
				<string>http://91\.202\.63\.123/tvshows-season+</string>
				<string>http://91\.202\.63\.123/+</string>
				<string>http://media31\.traileraddict\.com/+</string>
				<string>http://www\.traileraddict\.com/clip+</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
	<key>Search</key>
	<dict>
		<key>MOVIE2K</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.movie2k</string>
		</dict>
	</dict>
</dict>
</plist>